/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import url('https://fonts.googleapis.com/css?family=Anton');
 @import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
 @import "bootstrap";
 @media(min-width: 768px) {
  .field-label-responsive {
    padding-top: .5rem;
    text-align: right;
  }
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url("https://media.giphy.com/media/mWVu0FoJuq6cg/giphy.gif");
  // background-image: url("https://media.giphy.com/media/mWVu0FoJuq6cg/giphy.gif");
  height: 75%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: fixed;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
  font-size: 4em;
}


.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;

}


.arrivals {

  text-align: center;
  padding: 25px 25px 25px 0px;
  background-color: #f7f7f7;
  position: relative;
}

.album {
  // padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

#album {
  position: relative;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card img {
  margin-bottom: .75rem;
  max-width: 100%;
  max-height: 75%;
}

.card-text {
  font-size: 85%;
}

.home-about {
  background-image: url("fog-foggy-forest-4827.jpg");
  height: 60%;
  background-attachment: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about-text {
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 450px;
  font-size: 2rem;
}

// .pushdown {
//   margin-top: 50px;
//   position: relative;
//
// }

#fixingit {
  margin-top: 100px;
  position: fixed;
}


/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #022117;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #022117 !important;
    position: relative;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

.title {
  border-style: solid;
  padding-left: 15px;
  padding-right: 15px;
}
// .navbar-brand {
//   // font-family: 'Anton', sans-serif;
// }

.animals-cover {
  // background-image: url("fog-foggy-forest-40726.jpg");
  background-image: url("https://media.giphy.com/media/Jd35YBP0EEsFy/giphy.gif");

  background-size: cover;
  height: 75%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.pets-cover {
  background-image: url("https://media.giphy.com/media/qPuhFBQt8xLEY/giphy.gif");

  background-size: cover;
  height: 75%;
  background-position: top;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
